.usercomplaint *{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.usercomplaint{
   
    margin-bottom: 9rem;
}

.usercomplaint .raisecomplnt span{
    font-size:2.5rem;
    font-weight: bolder;

}
.usercomplaint .raisecomplnt{
    display: flex;
    justify-content:space-evenly; 
    align-items: center;
    gap: 1rem;
    
    

   
}

.usercomplaint .raisecomplnt .complaint{
    margin-left: 10rem;
}
.usercomplaint .raisecomplnt .anonyms{
    margin-left: 10rem;
}

.usercomplaint .raisecomplnt .complaint #raise-img{
    width:350px;
    height:350px;
    border-radius:4.7rem;
    margin-top:.5rem;
}

.usercomplaint .raisecomplnt .anonyms #anony-img{
    width:350px;
    height:350px;
  
}


.usercomplaint .about-cvr{
    display:flex;
    margin-top:75px;
}

.usercomplaint .cvr-img1 img{
    width: 250px;
    height:250px;
    border-radius:150px;
    background-color: red;
    margin-left:200px;
   
}

.usercomplaint .cvr-img2 img{
    width:250px;
    height:240px;
    margin-left:40px;
    border-radius:20px; 
}

.usercomplaint .cvr-matter{
    width:500px;
    height:200px;
    background-color: whitesmoke;
    margin-left: 150px;
    font-size:17px;
    padding:20px;
}

.usercomplaint #text{
    color: black;
    text-decoration: none;
    border-bottom: none;
}
@media screen and (max-width:786px) {
    .usercomplaint .raisecomplnt span{
        font-size:17px;
       
    
    }
    .usercomplaint .raisecomplnt .complaint #raise-img{
        width:200px;
        height:200px;
       
    }
    
    .usercomplaint .raisecomplnt .anonyms #anony-img{
        width:200px;
        height:200px;
    }
   
    .usercomplaint .raisecomplnt{
        display: flex;
        flex-direction: column;
        align-items: center;

        
    }
    .usercomplaint .about-cvr{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .usercomplaint .cvr-matter{
        width:250px;
        margin-left: 1rem;
        height: 500px;
       
    }
    .usercomplaint .cvr-img1 img{
        width: 250px;
       
       margin-left: 2rem;
       
    }
    
    .usercomplaint .cvr-img2 img{
        width:250px;
     
      
    }
}