.head3 *{
    margin: 0px;
    box-sizing: border-box;
    
    text-decoration:none;
    font-family: 'Times New Roman', Times, serif;
    
}


.head3 .admimgcls{
    
    height:110px;
    background: linear-gradient(90.9deg, rgb(3, 195, 195) 0.3%, rgb(37, 84, 112) 87.8%);
   
    text-align: center;
   
}
.head .admimgcls img{
    width: 200px;
}



.head3 .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(16, 4, 4);
  
    text-transform: capitalize;
    
}


.head3 #but1{
    
    background-color: white;
      color: black;
      border: none;
      font-size: 2rem;
      text-transform: capitalize;
   
     

}


.head3 #but1:hover{
   
    background-color:red;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}


.admin{
    font-size: 2rem;
    margin-left: 3rem;
}

.flex .card1{
    padding: 10PX;
    margin-top: 1rem;
    width: 50%;
    height: auto;
    margin-left: 3rem;
    background-color: rgb(238, 237, 237);
    border-radius: 5px;
    text-align: left;


}
.flex{
    display: flex;
    
    justify-content: space-around;

    margin-bottom: 2rem;
}
.flex .card1:hover{
    transition: 1s;
    box-shadow:3px 15px 20px 10px silver;
}
.flex #complaint{
   
}
.flex #solve{
    
  
    border-radius: 3px;
    color: white;
    background-color: red;
    border: none;
    margin: 2rem;
}
.flex #solved{
    
   
    border-radius: 3px;
    color: white;
    background-color: rgb(0, 255, 34);
    border: none;
}
.flex button:hover{
    cursor: pointer;
    border: none;
    transition: .5s;
    background-color: rgb(90, 136, 90);
    color: white;
    box-shadow: 3px 0 3px black;
}
.flex #SOLVE:HOVER{
    transition: .5s;
    background-color: rgb(90, 136, 90);
}
@media screen and (max-width:800px) {
    .head3 .home{
        width: 100%;
        
    }
    .head3 .admimgcls img{
        width: 80%;
        object-fit: cover;
       
    
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex .card1{
        width: 80%;
        margin: 0px;
        margin-top: 1rem;
    }
}
@media screen and (max-width:700px) {
    .head3 .home{
        width: 100%;
        
    }
    .head3 .admimgcls img{
        width: 100%;
        object-fit: cover;
       
    
    }
    .head3 .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .head3 #but1{
        margin-left: 3rem;
    }
    .flex .card1{
        width: 80%;
        margin: 0px;
        margin-top: 1rem;
    }
}