.middle-body *{
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    text-decoration: none;
}
.middle-body .top{
    height:180px;
    background-color: #29398d;
    width: 100%;
    text-align: center;
}

.middle-body .scroll{
    background-color: #29398d;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    
    
    
}
.middle-body .scroll-bar{
    padding-top:.3rem ;
      width: 175px;
      height: 50px;
      align-items: center;
      color: white;
      padding-left: 0.3rem;
      
      
      
}

.middle-body .scroll-con{
    color: white;
    width: 100%;
    padding-bottom: 1rem;
    

}
.middle-body .scroll-con pre{
    font-size:17px;
    color:white;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    margin-top: 20px;
}
.middle-body #new-img{
    height:30px;
    
}


.middle-body .updates img{
    width: 100%;
   
  
}

.middle-body .logins{
    width: 100%;
    background-color:steelblue;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:40px;
    align-items: center;
}


.middle-body .std-login{
    background-color: white;
    height:200px;
    width:200px;
    text-align: center;
    /* padding-top: 10px; */
}

.middle-body #adm-img{
    height:160px;

}

.middle-body .log-con{
    font-size:40px;
    color: #ffffff;
    
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:0px 0px 20px;
    padding-top:60px;
}

.middle-body .adm-login{
    background-color: white;
    width:200px;
    height:200px;
    text-align: center;
    color: black;
    text-decoration: none;
/* padding-top:10px; */
}

.middle-body #text{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}
/* .middle-body .adm-login a{
    color:blue;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
} */
 @media screen  and (max-width:730px){
    .middle-body .scroll-con pre{
           overflow: hidden;
    } 

    
 }
 @media screen  and (max-width:800px){
    .middle-body .logins{
          display: flex;
          flex-direction: column;
          align-items: center;
    } 
    

    
 }
